---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
{% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}
</head>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
        <section class="content">
            {{ content }}
        </section>
        <br>
        {% include author.html %}
        {% include footer.html %}
        
    </body>
</html>
