---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
    	<script type="text/x-mathjax-config">
    	  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    	</script>
    	<script type="text/javascript" async
    	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    	</script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        <br>
        {% include comments.html %}
        {% include author.html %}
        {% include footer.html %}
        
    </body>
</html>
