<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            <div align="center">
                {% if page.previous %}
                    <a href="{{ page.previous.url }}">&laquo;{{ page.previous.title }}</a>
                {% else %}
                    &laquo; No more
                {% endif %}
                {% if page.next %}
                    <a href="{{ page.next.url }}">{{ page.next.title }}&raquo;</a>
                {% else %}
                     No more &raquo;
                {% endif %}
            </div>
            {% include comments.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
