<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include comments.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
