<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            <!--div class="post-paginator" align="center">
                {% if page.previous %}
                    <a href="{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
                {% else %}
                    <span>&lt;&lt; No more</span>
                {% endif %}
                {% if page.next %}
                    <a href="{{ page.next.url }}">{{ page.next.title }} &gt;&gt;</a>
                {% else %}
                    <span>No more &gt;&gt;</span>
                {% endif %}
            </div-->
            <div class="post-nav">
              <div class="post-nav-next post-nav-item">
                  <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
              </div>
              <div class="post-nav-prev post-nav-item">
                  <a href="{{ page.next.url }}">{{ page.next.title }}</a>
              </div>
            </div>
            {% include comments.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
